#root {
  margin: 0;
  padding: 0;
}

#graph-id-graph-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

input[type="submit"] {
  border: 1px solid black;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #e8e8e8;
}
svg {
  width: 100%;
  height: 100vh;
}
